.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
}

.toggle-nav {
	display: none;
}

@media screen and ( max-width: 580px ) {
	.menu {
		display: none;
	}

	.toggle-nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-left: auto;
		margin-right: 1.5rem;
		font-size: 1.2rem;
		transition: color linear 0.15s;
		color: var(--raw-color-orange) !important;

		span {
			font-size: 2.5rem;
			padding-left: 1rem;
			align-self: center;
		}
	}

	a.toggle-nav:link,
	a.toggle-nav:visited,
	a.toggle-nav:hover,
	a.toggle-nav:active {
		text-decoration: none;
		color: #fff;
	}

	#raw-primary-menu {
		padding: 1rem;
		margin: 1rem 0 -1rem;
		width: 100vw;
		background: var(--raw-color-white);

		li {

			a {
				color: var(--raw-color-blue-bg);
			}
		}
	}

	#raw-secondary-menu {}
}