.quienes-somos {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

	.grid {
		div {

			.title {
				color: var(--raw-color-blue-bg);
				text-align: center;
			}
		}
	}
}

@media all and (max-width:768px) {

	.quienes-somos {
		.grid {
			div {
				text-align: center;
				margin-right: 0;

				.title {
					text-align: center;
				}

				p:not(.title) {
					padding: 0 2rem;
				}
			}
		}

		.raw-slider {
			margin: 2.5rem auto -2.5rem;
		}
	}

}

@media all and (max-width:425px) {

	.quienes-somos {
		.raw-slider {
			margin: 2.5rem auto -12rem;
		}
	}

}